.tab-content>.tab-pane {
    display: none;
}

.tab-content>.tab-pane.show {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body{
    background: linear-gradient(45deg,red,blue,green,black);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: background 15s ease infinite;
}
@keyframes background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.primarcontainer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: #00000060 0px 0px 10px 10px;
    
}


/* api n°1 */



.tacosdePastor {
    background: linear-gradient(to right, #000000, #0044ff);
    margin: 0;

}

/* api n°2 */
.gifperso {
    color: green;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

